.navBarElement {
    padding: 10px 6px;
    display: block;
    font-family: Consolas;
    overflow: hidden;
    transition:all 0.2s;
    user-select: none;
}

.navBarElement:hover {
    background-color: rgb(236, 236, 236);
}

.content {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s;
    border-radius: 10px;
    user-select: none;
}

.content:hover {
    box-shadow: inset 0px 0px 10px rgba(24, 66, 66, 0.705), 0 0 5px black;
    background-color: rgb(235, 235, 235);
}

.content:active {
    background-color: rgba(135, 207, 207, 0.705);
}

.addButton {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: contrast(1);
    transition: all 0.4s;
}

.addButton:hover {
    filter: contrast(0.8);
}

.optionHolder {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.158);
    overflow: hidden;
    z-index: 1;
}

.contextOption {
    padding: 10px 40px 10px 10px;
    font-size: 0.9em;
    background-color: white;
    transition: all 0.5s;
}

.contextOption:hover {
    background-color: #EEEFF1;
}

.contentSelector {
    padding: 2px 10px;
    display: inline-block;
    border: solid 1px black;
    text-align: center;
    min-width: 50px;
    transition: all 0.2s;
}

.contentSelectorFile {
    border-radius: 5px 0 0 5px;
}

.contentSelectorFolder {
    border-radius: 0 5px 5px 0;
}
